venv/
*.py[cod]
__pycache__/
lambda_layers/python/
lambda_layers/*.zip
data/*
!data/.foo
!data/20200214
!data/inventory
!data/new_today
!data/price_history
output/*
!output/.foo
common/*
!common/.foo
**/result.json
**.DS_Store
